.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.text-button {
  display: inline-block;
  border: 2px solid black;
  padding: 4px;
  margin: 3px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  background-color: white;
}
